* {
	box-sizing: border-box;	
	font-family: Arial, Helvetica, sans-serif; 
}
#header div {
	font-size: 1.75em;
	font-weight: bold;
	text-align: center;
	margin-bottom: 10px;
}
section {
	float: left;
	background-color: gray;
	border: 1px solid black;
	padding-left: 10px;
	padding-bottom: 5px;
	margin-left: 1%;
	margin-right: 1%;
	margin-bottom: 2%;
}
section div {
	width: 40%;
	position: relative;
	top: 0px;
	left: 60%;
	border-left: 1px solid black;
	border-bottom: 1px solid black;
	margin-bottom: 5px;
	text-align: center;
	font-weight: bold;
	font-size: 1.25em;
}
#chicken div {
	background-color: #E9967A;
}
#beef div {
	background-color: #DC143C;
	color: white;
}
#sushi div {
	background-color: #BDB76B;
}
@media (min-width: 992px) {
	#chicken {	
		width: 31.33%;
	}
	#beef {
		width: 31.33%;
	}
	#sushi {
		width: 31.33%;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	#chicken {
		width: 48%;
	}
	#beef {
		width: 48%;
	}
	#sushi {
		width: 98%;
	}
}
@media (max-width: 767px) {
	#chicken {
		width: 98%;
	}
	#beef {
		width: 98%;
	}
	#sushi {
		width: 98%;
	}
}