* {
	font-family: 'Open Sans Condensed', sans-serif;
}

/*--Nav Bar--*/
.navbar-brand {
	font-size: 2em;
}

.navbar, #navbar-default {
	background-color: #FFD700;
}

#nav-list li {
	border-bottom: 2px solid #000;
	width: 80%;
	margin: 0 10% 0 10%;
	font-weight: bold;
	font-size: 1.2em;
}
/*--End Nav Bar--*/

/*--Content--*/
.container-fluid #Chicken {
	background-color: #D3D3D3;
	padding: 10px 10px 10px 10px;
	margin-bottom: 10px;
}
@media (min-width: 600px) {
	.container-fluid #Chicken {
		height: 1000px;
	}
}
/*--End Content--*/